<?xml version="1.0"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee"
         id="WebApp_ID"
         version="2.5">

    <display-name>GFIT Build Pipeline</display-name>
    <description>This webapp is there solely to manage the start of the build pipeline process</description>

    <!-- FILTERS -->
    <filter>
        <filter-name>httpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>httpMethodFilter</filter-name>
        <servlet-name>build-pipeline</servlet-name>
    </filter-mapping>

    <!-- SERVLETS -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>build-pipeline</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>build-pipeline</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- WELCOME -->
    <welcome-file-list>
        <welcome-file/>
    </welcome-file-list>

</web-app>
